<launch>
    <arg name="speed" default="0.2"/>
    <arg name="angular_velocity" default="0.2"/>
    <arg name="square_length" default="2"/>
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node"></node>
    <node pkg="assignment2" type="square_openloop.py" name="square_openloop">
        <param name="x" value="$(arg speed)"/>
        <param name="z" value="$(arg angular_velocity)"/>
        <param name="l" value="$(arg square_length)"/>
    </node>
</launch>
